<form class="form-horizontal">
    <div class="row">
        <div class="well col-md-4">
            <h4>Post a new Question</h4>
            <div class="row">
                <textarea cols="40" rows="5" id="message"></textarea>
            </div>
            <input type="button" id="sendmessage" class="btn btn-primary" value="Ask" />
            <input type="hidden" id="displayname" />
        </div>
    </div>
</form>